body{
  overflow-x: hidden;
}

@font-face {
  font-family: "Saiyan";
  src: url("../font/Saiyan-Sans.ttf");
}
.layer{
  margin: 0;
  background-attachment: fixed;
  position: absolute;
  background-repeat: repeat-y;
  background-size:cover;
  width: 100vw;
  height: 100vh;
}
@keyframes auramove {
  0% {background-position-y: 0px}
  100% {background-position-y: 65536px}
}
@keyframes rayitasmove {
  0% {background-position-y: 65536px}
  100% {background-position-y: 0px}
}
@keyframes gokuzoom {
  100% {
    transform: translateY(-30vh) scale(4);
  }
}
#aura{
  background-image: url('../img/aura migatte no gokui.png');
  animation: auramove 200s linear infinite;
}
#goku{
  background-image: url('../img/goku migatte no gokui.png');
  background-repeat: no-repeat;
  animation: gokuzoom 5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#rayitas{
  background-image: url('../img/rayitas migatte no gokui.png');
  animation: rayitasmove 300s linear infinite;
}
.parallax {
  height: 100vh;
}
.contenido{
  width: 100%;
  background-color: white;
  position: relative;
  background-size: contain;
}
.layer2{
  margin: 0;
  background-attachment: fixed;
  position: absolute;
  background-size:cover;
  width: 100vw;
  height: 100vh;
}
.esfera{
  width: 5vw;
  height: 5vw;
  background-attachment: inherit;
}
@keyframes shenlong {
  0%, 95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#cielo{
  background-image: url("../img/cielo.png");
}
#tormenta{
  background-image: url("../img/tormenta.png");
  animation: shenlong 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#pradera{
  background-image: url("../img/pradera.png");
}
#rayos{
  background-image: url("../img/rayos.png");
  animation: shenlong 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
}
#praderaoscura{
  background-image: url("../img/pradera oscura.png");
  animation: shenlong 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#shenlong{
  background-image: url("../img/shenlong.png");
  animation: shenlong 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes movesfera1 {
  0% {
    transform: translateY(-150vh) translateX(-500vw);
  }
  100% {
    transform: translateY(74vh) translateX(45vw);
  }
}
@keyframes movesfera2 {
  0% {
    transform: translateY(-150vh) translateX(500vw);
  }
  100% {
    transform: translateY(74vh) translateX(50vw);
  }
}
@keyframes movesfera3 {
  0% {
    transform: translateY(-400vh) translateX(-500vw);
  }
  100% {
    transform: translateY(80vh) translateX(42.5vw);
  }
}
@keyframes movesfera5 {
  0% {
    transform: translateY(-400vh) translateX(500vw);
  }
  100% {
    transform: translateY(80vh) translateX(52.5vw);
  }
}
@keyframes movesfera6 {
  0% {
    transform: translateY(-700vh) translateX(-500vw);
  }
  100% {
    transform: translateY(86vh) translateX(45vw);
  }
}
@keyframes movesfera7 {
  0% {
    transform: translateY(-700vh) translateX(500vw);
  }
  100% {
    transform: translateY(86vh) translateX(50vw);
  }
}
#esfera1{
  background-image: url("../img/esfera 1.png");
  animation: movesfera1 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#esfera2{
  background-image: url("../img/esfera 2.png");
  animation: movesfera2 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#esfera3{
  background-image: url("../img/esfera 3.png");
  animation: movesfera3 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#esfera4{
  background-image: url("../img/esfera 4.png");
  transform: translateY(80vh) translateX(47.5vw);
}
#esfera5{
  background-image: url("../img/esfera 5.png");
  animation: movesfera5 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#esfera6{
  background-image: url("../img/esfera 6.png");
  animation: movesfera6 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#esfera7{
  background-image: url("../img/esfera 7.png");
  animation: movesfera7 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.0025s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
h1{
  text-align: center;
  font-family: "Saiyan";
  font-size: 100px;
  color: #FF6628;
}
h2{
  text-align: center;
  font-family: "Saiyan";
  font-size: 50px;
  color: #FF6628;
}
